@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #121a2f;
    color: #fff;
    overflow-x: hidden;
}

.diagonal-border1 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 120px 100vw; /* Adjust the size to control the angle */
    border-color: #fff #121a2f #fff #121a2f; /* Match the background color of the sections */
    position: relative;
}

.diagonal-border2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 120px 100vw; /* Adjust the size to control the angle */
    border-color: #fff #121a2f #121a2f #fff; /* Match the background color of the sections */
    position: relative;
}

.diagonal-border3 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 120px 0 0 100vw; /* Adjust the size to control the angle */
    border-color: #121a2f #fff #fff #fff; /* Match the background color of the sections */
    position: relative;
}

.diagonal-border4 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 120px 0 0 100vw; /* Adjust the size to control the angle */
    border-color: #fff #121a2f #fff #121a2f; /* Match the background color of the sections */
    position: relative;
}

.diagonal-border5 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 120px 100vw; /* Adjust the size to control the angle */
    border-color: #fff #121a2f #fff #121a2f; /* Match the background color of the sections */
    position: relative;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    z-index: 980;
}

.navigation > .container {
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation .navbar {
    width: 100%;
    position: relative;
    background-color: rgba(24, 38, 72, 0.9);
    backdrop-filter: blur(20px);
    box-shadow: 2px 2px 30px 2px #242424;
    transition: 0.4s ease;
}

.navigation .navbar.sticky {
    width: 95%;
    margin: 20px 10px 10px 10px;
    border-radius: 20px;
}

.navigation .navbar .logo-toggle-container {
    position: absolute;
    left: 50%;
    top: 5px;
    transform: translateX(-50%);
}

.navigation .navbar .logo-toggle-container a {
    display: block;
}

.navigation .navbar .logo-toggle-container a img {
    width: 88px;
    transition: 0.4s ease;
}

.navigation .navbar .logo-toggle-container a img:hover {
    opacity: 0.8;
}

.navigation .navbar .logo-toggle-container a img:active {
    scale: 0.7;
}

.navigation .menu {
    height: fit-content;
    text-align: right;
    padding-left: 35px;
    padding-right: 35px;
}

.navigation .menu li {
    padding: 38px 10px;
    display: inline-block;
}

.navigation .menu li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    transition: 0.4s ease;
}

.navigation .menu li:nth-child(1),
.navigation .menu li:nth-child(2),
.navigation .menu li:nth-child(3) {
    float: left;
}

.navigation .menu li a:hover {
    color: #aa8f40;
}

.container {
    position: relative;
}

.home {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

#particle {
    height: 100vh;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.home h1 {
    font-weight: 900;
    font-size: 88px;
    line-height: 95px;
    text-transform: uppercase;
}

.home h1 span {
    color: #af9a5c;
}

#scrollBtn {
    margin-top: 20px;
    border: none;
    outline: none;
    padding: 12px 18px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    transition: 0.4s ease;
}

#scrollBtn:hover {
    background-color: #af9a5c;
    color: #fff;
}

.chisiamo {
    height: fit-content;
    width: 100%;
    padding-bottom: 100px;
    background-color: #fff;
}

.aboutTitle {
    text-align: center;
    padding-top: 170px;
}

.aboutTitle h2 {
    font-size: 60px;
    text-transform: uppercase;
    color: #000;
}

.aboutTitle p {
    font-size: 20px;
    color: rgb(69, 69, 69);
    color: #aa8f40;
    font-weight: 600;
}

.about {
    height: fit-content;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.about .main img {
    width: 400px;
    max-width: 100%;
    height: 550px; /*height: auto;*/
    border-radius: 10px;
    box-shadow: 3px 3px 20px 3px rgba(0,0,0,0.3);
}

.all-text {
    width: 600px;
    max-width: 100%;
}

.main {
    width: 1290px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.all-text h4 {
    font-size: 18px;
    color: #3b3b3b;
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 10px;
}

.all-text h1 {
    font-size: 44px;
    color: #111111;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 65px;
}

.all-text p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #5e5e5e;
    line-height: 30px;
    margin-bottom: 35px;
}

.all-text p span {
    font-weight: bold;
    color: #000;
}

.btn button {
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 17px 24px;
    border-radius: 8px;
    border: 2px solid #aa8f40;
    background-color: #aa8f40;
    margin-right: 20px;
    outline: none;
    cursor: pointer;
    transition: 0.4s ease;
}

.btn button:hover {
    background-color: transparent;
    color: #000;
}

.services {
    height: fit-content;
    width: 100%;
    padding-bottom: 100px;
}

.servicesTitle {
    text-align: center;
    padding-top: 170px;
}

.servicesTitle h2 {
    font-size: 60px;
    text-transform: uppercase;
    color: #fff;
}

.servicesTitle p {
    font-size: 20px;
    color: rgb(69, 69, 69);
    color: #aa8f40;
    font-weight: 600;
}

.servicesContent {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.serviceContainer {
    width: 100%;
    height: fit-content;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 30px;
}

.service {
    text-align: center;
    padding: 35px 10px;
    font-size: 14px;
    background-color: #fff;
    transition: 0.4s ease;
    height: fit-content;
    padding-bottom: 50px;
    box-shadow: 3px 3px 20px 3px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.service:nth-child(2) {
    border: 3px solid #aa8f40;
    scale: 1.05;
}

.service i {
    font-size: 40px;
    margin-bottom: 10px;
    color: #aa8f40;
}

.service h2 {
    font-weight: 600;
    margin-bottom: 8px;
    color: #000;
}

.service p {
    color: #000;
    margin-bottom: 15px;
}

.service a {
    text-decoration: none;
    color: #aa8f40;
    transition: 0.4s ease;
}

.service a:hover {
    color: #000;
}

.products {
    height: fit-content;
    width: 100%;
    padding-bottom: 100px;
    background-color: #fff;
}

.productsTitle {
    text-align: center;
    padding-top: 170px;
}

.productsTitle h2 {
    font-size: 60px;
    text-transform: uppercase;
    color: #000;
}

.productsTitle p {
    font-size: 20px;
    color: rgb(69, 69, 69);
    color: #aa8f40;
    font-weight: 600;
}

.project-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.project-item {
    width: 440px;
    margin: 10px;
    text-align: center;
}

.project-item img {
    max-width: 100%;
    height: auto;
    transition: 0.4s ease;
    cursor: pointer;
    border-radius: 10px;
}

.project-item img:hover {
    scale: 1.03;
}

.team {
    height: fit-content;
    width: 100%;
    padding-bottom: 40px;
}

.teamTitle {
    text-align: center;
    padding-top: 170px;
}

.teamTitle h2 {
    font-size: 60px;
    text-transform: uppercase;
    color: #fff;
}

.teamTitle p {
    font-size: 20px;
    color: rgb(69, 69, 69);
    color: #aa8f40;
    font-weight: 600;
}

.teamContent {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.anouar, .andrea, .profileImage, .profileDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.anouar {
    background-color: #fff;
    box-shadow: 3px 3px 20px 3px rgba(73, 73, 73, 0.3);
    height: 300px;
    width: 600px;
    margin: 25px;
    padding: 20px;
}

.andrea {
    background-color: #fff;
    box-shadow: 3px 3px 20px 3px rgba(73, 73, 73, 0.3);
    height: 300px;
    width: 600px;
    margin: 25px;
    padding: 20px;
}

.profileImage {
    height: 100%;
    width: 40%;
    padding-left: 10px;
    padding-right: 10px;
}

.image img {
    background-color: #af9a5c;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.profileDescription {
    height: 100%;
    width: 60%;
    flex-direction: column;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    color: #000;
}

.profileDescription h2 {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 700;
}

.profileDescription h3 {
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 6px;
    /*color: rgb(37, 37, 37);*/
    color: #aa8f40;
    font-weight: 600;
}

.profileDescription p {
    margin-top: 15px;
}

.profileDescription .description .links {
    margin-top: 15px;
}

.profileDescription .description .links i {
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
    color: #000;
    transition: 0.3s ease;
}

.profileDescription .description .links i:hover {
    color: #aa8f40;
}

.purchase {
    height: fit-content;
    background-color: #fff;
    width: 100%;
}

.purchaseTitle {
    text-align: center;
    padding-top: 170px;
}

.purchaseTitle h2 {
    font-size: 60px;
    text-transform: uppercase;
    color: #000;
}

.purchaseTitle p {
    font-size: 20px;
    color: rgb(69, 69, 69);
    color: #aa8f40;
    font-weight: 600;
}

.serviziContent {
    padding-top: 50px;
    padding-bottom: 100px;
    width: 100%;
    height: fit-content;
}

.price-row {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
}

.price-col {
    background-color: #1f283b;
    padding: 10% 12%;
    border-radius: 10px;
    color: #fff;
    text-align: center;
}

.price-col:nth-child(2) {
    border: 3px solid #aa8f40;
    scale: 1.05;
}

.price-col h3 {
    font-size: 34px;
    margin: 20px 0 40px;
    font-weight: 500;
}

.price-col h3 span {
    font-size: 16px;
}

.price-col ul {
    text-align: left;
    margin: 20px 0;
    color: #ddd;
    list-style: none;
}

.price-col ul li {
    margin: 15px 0;
}

.price-col ul li::before {
    content: "\2022";
    color: #aa8f40;
    font-weight: bold;
    margin-right: 8px;
}

.price-col button {
    width: 100%;
    padding: 14px 0;
    background-color: #aa8f40;
    color: #fff;
    font-size: 15px;
    border: 1px solid #aa8f40;
    border-radius: 6px;
    margin-top: 30px;
    cursor: pointer;
    transition: background 0.5s;
}

.price-col button:hover {
    background-color: transparent;
}

.contacts {
    height: fit-content;
    width: 100%;
    padding-bottom: 30px;
}

.contactsTitle {
    text-align: left;
    padding-top: 100px;
    padding-left: 170px;
}

.contactsTitle h2 {
    font-size: 60px;
    text-transform: uppercase;
    color: #fff;
}

.contactsTitle p {
    font-size: 20px;
    color: rgb(69, 69, 69);
    color: #aa8f40;
    font-weight: 600;
}

.contactsContent {
    height: fit-content;
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icons {
    height: 50px;
    width: 100%;
    display: flex;
    padding-left: 330px;
}

.social-icons a {
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aa8f40;
    border: 2px solid transparent;
    height: 50px;
    width: 50px;
    margin: 5px;
    font-size: 20px;
    border-radius: 50%;
    transition: 0.4s ease;
}

.social-icons a:hover {
    background-color: #fff;
    border-color: #aa8f40;
    color: #000;
}

.footer {
    height: fit-content;
    width: 100%;
    background-color: #121a2f;
    display: flex;
    flex-direction: column;
}

.info {
    height: fit-content;
    padding-left: 170px;
    padding-right: 100px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.info a, .developer a {
    text-decoration: none;
    color: #fff;
    transition: 0.4s;
    width: fit-content;
}

.info a:hover, .developer a:hover {
    opacity: 0.6;
}

.developer {
    padding-left: 170px;
    padding-right: 100px;
    padding-bottom: 50px;
}

.developer p {
    color: #cfcdcd;
}

.developer span {
    font-weight: bold;
}
